{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <h1>Commande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Etat</th>
                <th>Commentaire</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for i in commandes %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.date }}</td>
                <td>{{ i.etat }}</td>
                <td>{{ i.commentaire }}</td>
                <td>{{ i.adresse }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('commande_new') }}">Create new</a>
{% endblock %}
